@keyframes pageIntro{

    from{opacity: 0}
    to{opacity: 1}

}
*{
    margin:0;
    padding:0;
}

body{
    animation-name: pageIntro;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.header_content, .footer_content{
    width: 100%;
    background-color: #424242;
}

.header_content{
    height: 10vh;
}
.footer_content{
    height: 5vh;
}
.pageContent{
    display: block;
    width:100%;
    height: 85vh;
    background: repeating-linear-gradient(
            to right,
            yellow,
            yellow 16%,
            black 16%,
            black 35%);
    padding: 1% 0;

}

.center_box{
    background-color: whitesmoke;
    color: darkslategrey;
    display: block;
    width: 100%;
    height: 100%;
}
h1{
    color: #424242;
    font-family: "Comfortaa";
    font-size: 2.2em;
    display: block;
    text-align: center;
    padding: 3% 0;
    font-weight: 100;
}
.main_img{
    display: block;
    margin: 2% auto;
    width: 25%;
    border-bottom: solid #424242 3px;
    padding: 0 5%;
}
.button{
    font-size: 1.3em;
    letter-spacing: 0.35em;
    background-color: darkgrey;
    color: #424242;
    border-bottom: solid #424242 2px;
    padding: 1%;
    margin: 4% 4%;
    font-family: "Comfortaa";
}

.button:hover{
    background-color: lightgray;
    color: grey;
    border-bottom-color: grey;
}
.margin_center{
    margin-top: 2%;
    display: block;
    width: 100%;
    text-align: center;
}
