@keyframes pageIntro{

    from{opacity: 0}
    to{opacity: 1}

}
*{
    margin:0;
    padding:0;
}

body{
    animation-name: pageIntro;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.header_content, .footer_content{
    width: 100%;
    background-color: black;
}

.header_content{
    height: 7vh;
    display: table;
    padding: 0.5%;
    color: whitesmoke;
}
.footer_content{
    height: 5vh;
    padding: 0.5%;
    color: whitesmoke;
    text-align: center;
}
.menu_droper{
    width: 2.5%;
    transition: transform 2s;
}
.menu_droper:hover{
    transform: rotate(360deg);

}
.language_select{
    display: inline-block;
    margin-left: 87%;
    font-size: 1.2em;
    font-family: "Righteous";
}
.language_select>span{
    marign-left: 4%
}
.language_select span:hover{
    color: red;
    font-weight: bold;

}
.pageContent{
    display: block;
    width:100%;
    height: 88vh;
    background: repeating-linear-gradient(
            55deg,
            yellow,
            yellow 10%,
            black 10%,
            black 20%);
    padding: 1% 0;

}

.center_box{
    background-color: whitesmoke;
    color: darkslategrey;
    display: block;
    width: 100%;
    height: 100%;
}
h1{
    color: #424242;
    font-family: "Comfortaa";
    font-size: 2.2em;
    display: block;
    text-align: center;
    padding: 3% 0;
    font-weight: 100;
}
.main_img{
    display: block;
    margin: 2% auto;
    width: 25%;
    border-bottom: solid #424242 3px;
    padding: 0 5%;
}
.button{
    font-size: 1.3em;
    letter-spacing: 0.35em;
    background-color: #edeaea;
    color: #424242;
    border-bottom: solid #424242 2px;
    padding: 1% 2%;
    margin: 4% 4%;
    font-family: "Comfortaa";
    border-radius: 10px;
}
.button:hover{
    opacity: 0.7;

}
.button:nth-child(1):hover{
    background-color: yellow;
    border-bottom-color: yellow;
    color: black;
}
.button:nth-child(2):hover{
    background-color: red;
    border-bottom-color: red;
    color: white;
}
.button:nth-child(3):hover{
    background-color: blue;
    border-bottom-color: blue;
    color: white;
}
.margin_center{
    margin-top: 2%;
    display: block;
    width: 100%;
    text-align: center;
}
